:root {
    --dark-blue: rgb(19, 19, 85);
    --grey: rgb(80, 80, 80);
}

body {
    font-size: 16px;
    line-height: 1;
    background-color: rgb(52, 58, 64);
    color: white;
}

header {
    background-color: var(--dark-blue);
    border-bottom: solid;
    border-color: var(--grey);
    padding: 10px;
    margin-bottom: 40px;
}

hr {
    background-color: white;
}

.row{
    margin: 0px;
}

.uv-color  {
    position: relative;
    left: 70px;
    bottom: 22px;
    height: 30px;
    width: 50px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    color: black;
}

.low {
    background-color: green;

}

.moderate {
    background-color: yellow;
}

.high {
    background-color: orange;
}

.very-high {
    background-color: red;
}

.extreme {
    background-color: purple;
}

#search-container {
    margin-left: 20px;
    padding: 0;
}

#search-card {
    border: none;
}

.previous-search {
    padding-right: 40px;
    list-style: none;
}

.previous-search li {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    border: solid;
    border-radius: 10px;
    border-color: white;
    background-color: rgb(80, 80, 80);
}

.previous-search li:hover {
    background-color: var(--dark-blue);
    cursor:pointer;
}

#current-location {
    border: solid;
    border-color: var(--dark-blue);
    border-width: 6px;
    height: 310px;
}

#current-info {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#current-info li {
    margin: 10px;
    padding: 10px;
}

#forecast-card {
    background-color: var(--dark-blue);
    border: solid;
    border-color: var(--grey);
    margin: 10px;
}

#forecast-card ul {
    padding: 0px;
}

#forecast-card li {
    list-style: none;
    margin: 10px;
}

