:root {
    --dark-blue: rgb(19, 19, 85);
}

body {
    font-size: 16px;
    line-height: 1;
}

header {
    background-color: var(--dark-blue);
    padding: 10px;
    margin-bottom: 10px;
}

hr {
    background-color: white;
}

#search-container {
    margin-left: 20px;
    padding: 0;
}

#search-card {
    border: none;
}

#previous-search {
    font-size: 16px;
    padding-left: 0;
    margin: 10px;
    list-style: none;
}

li {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    border: solid;
    border-color: white;
    background-color: rgb(80, 80, 80);
}

li:hover {
    background-color: var(--dark-blue);
    cursor:pointer;
}